@media only screen and (min-width:767px)
{
    html {
        font-size:14px !important;
    }
}
@media only screen and (min-width:640px)
{
    html {
        font-size:10px !important;
    }
}
@media only screen and (min-width:0px)
{
    html {
        font-size:6px !important;
    }
}
body {
    width:100%;
    background: #68cdd5;
    height:100%;
    margin:0;
}
.back {
    background-image:url(./images/back.png);
    width: 5.4rem;
    height:5.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:2rem;
    left:3.5rem;

}
.logo {
    width:6.7rem;
    height:7rem;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.footerleft {
    background-image: url("./images/footerleft.png");
    width:8.4rem;
    height:8.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left:21%;

}
.footerright {
    background-image: url("./images/footerright.png");
    background-size: cover;
    width:8.4rem;
    height:8.4rem;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    right:21%;
}
.text {
    color:white;
    font-size: 3rem;
    line-height: 5.4rem;
    position:absolute;
    top:30rem;
    left:13%;
    right:13%;
}
.putaoteng {
    color: white;
    font-size: 4.5rem;
    display: inline-block;
    position: relative;
    top:-1.8rem;
}
.textleft {
    color: white;
    font-size: 2.4rem;
    display: inline-block;
    position: absolute;
    top:10.5rem;
    left:21%;
}
.textright {
    color: white;
    font-size: 2.4rem;
    display: inline-block;
    position: absolute;
    top:10.5rem;
    right:21%;
}
.logobox {
    width:100%;
    position:absolute;
    top:12.6rem;
    text-align: center;
}
.footer {
    position:relative;
    top:69rem;
    padding-bottom: 19.5rem;
}